
.first_page {
    background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(/img/dog-background.jpg)!important;
    background-size: cover;
    background-position: center;
    height: 200%;
    width: 145.8%;
    margin-left: -230px;
    margin-bottom: 40px;
    padding-bottom: 200px;
    overflow: hidden;
}

.figure {
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)!important;
    padding-left:40px;
}