body {
    background-color: #cccccc;
    background-image: linear-gradient(rgb(97, 96, 96),rgb(173, 173, 173), rgb(218, 216, 216));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

.project-details {
    margin-top: 70px;
}

.project-list {
    margin-top:60px;
}

.progress-label{
    margin-right:10px;
    font-size:100%;
}

.label-checkbox {
    display:inline-block;
    text-indent: -15px;
    margin-right: 51px;
    margin-left: 68px;
  }

.input-checkbox {
    margin-left: -21px;
    margin-top: 4px;
    opacity: 1!important;
}

.project-detail-img {
    margin-right: 10px;
    height: 100px;
    width: auto;
}

.image-upload {
    margin-right: 5px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

.custom-file-input::before {
    content: 'Избери слика';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 90%;
    color: #999;
  }

input[type="file"]
{
   color: transparent;
   width: 128px;
   height: 30px;
}

.style-row {
    margin-bottom: -10px;
}


